
body {
	min-height: 100vh;  /* need this line to 
					tell body to fill viewport */
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	display: flex;
	flex-direction: column;
	color: blue;
     }

main
{
    background-color: #EFF0F1;
}

header {
       
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 2.2em;
	  
}

#bookClubTitle
{
    flex-grow: 1;
    color: #304e7e;
}
#query
{
    
    flex-grow: 3;
}



* {
  box-sizing: border-box;
}

/* Style the search field */
#num {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: clear;
}

/* Style the submit button */
#sub {
  float: left;
  width: 10%;
  padding: 10px;
  background: clear;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}





 #headerFB {
     display: flex 
}

main {
     flex: 1 0 auto;  /* the sticky footer trick without the footer */
}





p {
	font-size: medium;
	margin: 10px;
}

div#photoDisplay {
    width: 400px;
    margin: 20px;
}

img {
    width: 100%;
}

